@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components{
    .herobutton{
        @apply px-8 py-2 border border-[#242424] rounded-full text-sm tracking-[3px] text-white transition-all
        hover:border-[#FF69B4]
    }

    .font-popping{
        font-family: 'Poppins',sans-serif;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}